[{:last-timestamp 0
  :rankings 
  ["chanakam2000"
   "areuscared"
   "sameerasam"
   "ritigalajayasena"
   "ruk256"
   "alexstar1"
   "sahan94"
   "indika3272"
   "damithdissanayake"
   "cjdrox"
   "shashikadanthanaraya"
   "mhasitha"
   "thilinaariyarathna"
   "sajanarana"
   "yasabanda"
   "nakiya"
   "akewithu"]}]