[{:last-timestamp 0, :player-rankings {"sahan94" 1, "thilinaariyarathna" 2, "shashikadanthanaraya" 3, "alexstar1" 4, "cjdrox" 5, "damithdissanayake" 6, "sajanarana" 7, "yasabanda" 8, "akewithu" 9, "nakiya" 10, "indika3272" 11, "mhasitha" 12, "chanakam2000" 13, "sameerasam" 14, "ritigalajayasena" 15, "ruk256" 16}}]