[{:last-timestamp 0, :player-rankings {"sahan94" 1000, "thilinaariyarathna" 1000, "shashikadanthanaraya" 1000, "cjdrox" 1000, "damithdissanayake" 1000, "sajanarana" 1000, "yasabanda" 1000, "nakiya" 1000, "indika3272" 1000, "mhasitha" 1000, "chanakam2000" 1000, "sameerasam" 1000, "ritigalajayasena" 1000, "ruk256" 1000}}]