[{:last-timestamp 1606400924, :player-rankings {"sahan94" 1030, "thilinaariyarathna" 876, "shashikadanthanaraya" 995, "cjdrox" 1014, "damithdissanayake" 815, "sajanarana" 891, "yasabanda" 920, "nakiya" 1053, "indika3272" 985, "sameerasam" 1013, "ritigalajayasena" 1281, "ruk256" 1127}}]